boto3
datasets
folium
fuzzywuzzy
geodatasets
geopy
geopandas
huggingface_hub
ipykernel
ipython
ipywidgets
jupyterlab
langchain
langchain-cli
langchain-experimental
langchain-google-genai
langchain-openai
llm
mapclassify
matplotlib
msal
openai
pandas
pandasai
pyarrow
pymilvus[model]
python-Levenshtein
ruff
streamlit
streamlit-authenticator
streamlit-folium
tabulate
tiktoken
torch
transformers
watchdog